.App1{
  justify-content: center;
  display:flex;
  text-align: justify;     
}

.btn-outline-danger{
 margin-right: 20px;
height: 1.5cm;
  text-align: right;
  justify-content: right;
  margin-top: 20px;

}
.logo{
  height: 2cm;
}

/* .card{
   width: 80%; 
  height: 30cm;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);

} */

.card1 {
  margin: 1cm 2cm 0cm 2cm;
  justify-content: space-between;
    display:flex;
    text-align: justify;   
    position: relative;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    
    height: 1cm;
    border-radius: 10px;
    
}


.btn-primary1 {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  margin-right: 0.05cm;
}

.hehe{
  margin-top: 0.25;
}
  .main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: rgb(234, 228, 228);
}

.sub-main{
  display: flex;
  justify-content: center;
  height: 300px;
  width: 20%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  background-color: white;
  height: 9cm;
}

.pass{
  padding-top: 20px;
}

.buttonl{
  padding-top: 30px;
}

.font{
  font-size: small;
  text-align: left;
  padding-left: 20px;
}
.font2{
  font-size: small;
  text-align: left;
  
}


.font1{
  font-size: small;
  text-align: left;
 
}

.name{
  font-size: small;
}

.button2{
  text-align: center;
  justify-content: center;
  background-color: rgb(53, 205, 255);
  color: aliceblue;
}

.button3{
  text-align: center;
  justify-content: center;
  background-color: rgb(253, 91, 32);
  color: aliceblue;
}

.shape{
margin: 0px 10px 10px 0px;
padding: 5px 14px;
border-radius: 20px;
/* border-radius: 25px;
background: #73AD21;
padding: 20px;
width: 200px;
height: 150px; */
}

.profile{
  justify-content: center;
  /* display:flex; */
  /* text-align: justify;  */
}

.main1{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 100px 0 100px 0;
  background-color: rgb(234, 228, 228);
}

.main4{
  text-align: justify;
  background-color: rgb(234, 228, 228);
  width: 60%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
}



/* .sub-main4{
  
}  */


.sub-main1{
  display: flex;
  justify-content: center;
  height: 350px;
  width: 20%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  background-color: white;
}

.Profile {
  height: 5cm;
}

.btn-primary{
  justify-content: center;
  align-items: center;
}

 .card{
  width: 20%;
  height: 9cm;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  background-color: white;
  
}

.card5{
  width: 130%;
  height: 9cm;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  background-color: white;
  padding-top: 2%;
}

.card2{
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 16cm;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  background-color: white;
  margin-left: 35%;
  padding-left: 7%;
  padding-top: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
}


.card5{
  width: 130%;
  height: 11cm;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  background-color: white;
  padding-top: 2%;
}
.card7{
  width: 130%;
  height: 4.5cm;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  background-color: white;
  padding-top: 2%;
}


.content{
  margin-top: 0.5cm;
  justify-content: center;
  text-align: center;
}


.font1{
  margin-left: 0cm;
}

.text{
  justify-content: left;
  text-align: left;
  
}

.App{
  justify-content: space-between;
  display:flex;
  text-align: justify;   
  position: relative; 
}
.App2 {
padding-left: 20px;
display: flex;
text-align: justify;
justify-content: space-between;
}

.text1{
padding-left: 20px;
padding-top: 6px;
}